.board-item {
	border-radius: 4px;
	// max-height: 100%;
	// overflow-y: auto;
	box-shadow: 1px 1px 5px 2px rgba(black, 0.1);
	background-color: var(--gray-200);
	width: var(--board-width);
	font-size: 14px;

	&.no-cards {
		background-color: transparent;
		box-shadow: none;
	}

	&.no-cards &__title {
		box-shadow: 1px 1px 5px 2px rgba(black, 0.1);
		background-color: var(--gray-200);
		border-radius: 4px;
	}

	&.no-cards &__list {
		min-height: 50px;
	}

	&__title {
		padding: 10px 12px;
		font-weight: 700;
		position: relative;

		&-content {
			text-align: center;
			padding: 0 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__list {
		display: flex;
		flex-flow: column nowrap;
		border-radius: 4px;

		&.draggingOver {
			background-color: var(--gray-400);
		}
	}

	&__list-col {
		background-color: var(--gray-200);
		border-radius: 4px;
		.card {
			border: 1px solid rgba(#000, 0.1);
		}

		&.dragging .card {
			background-color: #fff;
		}
	}

	&__button-icon-add {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: var(--blue-600);
		padding: 0;
		z-index: 1;
		&:hover {
			color: var(--blue-700);
		}
	}

	&__button-more {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		&:hover {
			svg {
				color: var(--blue-700);
			}
		}
	}
}
